<div class="container-fluid container-loggedin">
<div class="row">
    <nav class="navbar navbar-header-loggedin">
      <div class="col-sm-2">
        <a class="navbar-brand"><img width="50px" src="/images/logo_transparent.png" /></a>
      </div>
      <div class="col-sm-7">
        <div class="title">
          <h2>Lorem Ipsum Dolor Sit Amet</h2>
        </div>
      </div> 
      <div class="col-sm-2">
          <p class="rainbow"><span>Hello <%= name %></span> <i class="far fa-smile"></i></p> 
      </div>
      <div class="col-sm-1">
        <a href="/users/logout" class="btn logout">Logout</a>
      </div> 
    </nav>
</div>
<div class="my-navbar">
  <a class="back-to-page">Menu <i class="fas fa-chevron-right"></i></a>
  <a class="my-nav-item" href="/events/events">Performances</a> <span> || </span>
  <a class="my-nav-item" href="#">Link 2</a> <span> || </span>
  <a class="my-nav-item" href="#">Link 3</a>
</div>
<br>
<div class="row">
    <div class="col-sm-6">
        <h4 class="section-heading"><b><i class="far fa-bell"></i></b> NOTIFICATIONS BOARD</h4>
        <div class="notifications">
          <% if (notifications.length < 1) { %>
            <p class=content>No new notifications</p>
          <% } else { %>
            <% for (var i = 0; i < notifications.length; i++) { %>
              <% if (admin == true) { %>
                <form action="/remove/notification/<%=notifications[i]._id %>" method="post">
                  <div class="notification">
                    <div class="notif-text" style="width: 80%;"> 
                      <p style="white-space: pre-wrap;"><%= notifications[i].content %></p>
                    </div>
                   <div class="notif-date-area">
                     <p class="content-notif-date"><%= moment(notifications[i].date).tz("Australia/Perth").calendar() %> </p>
                   </div>
                    <div class="admin-can-edit">
                      <button class="del-x" type="submit"><i class="fas fa-backspace"></i></button>
                        <a class="del-x" href="/edit/notification/<%= notifications[i]._id %>"><i class="fas fa-pen"></i></a>
                    </div>
                  </div>
                </form>
                <% } else { %>
                <div class="notification">
                  <div class="content" style="width: 80%;"> 
                    <p style="white-space: pre-wrap;"><%= notifications[i].content %></p>
                  </div>
                  <div class="notif-date-area">
                  <p class="content"><%= moment(notifications[i].date).tz("Australia/Perth").calendar() %></p>
                  </div>
                </div>
                <% } %>
            <% } %>
          <% } %>
      </div>
      <% if (admin == true ) { %>
      <div class="new-notification">
        <p class="label">Please limit the number of notifications</p>
        <% include  ./partials/messages %>
        <form action="/new/notification" method="post" autocomplete="off">
            <textarea type="string" rows="3" name="content" placeholder="What's new?" ></textarea>
            <button type="submit" class="btn console-btn" style="margin-top:20px;">Post Notification</button>
        </form>
        <br/>
      </div>
      <% } %>
    </div>
  <div class="col-sm-6">
      <h4 class="section-heading"><i class="fas fa-music"></i> SCORES + AUDIO FILES</h4>
      <div class="input-icons"> 
        <i class="fas fa-search icon"></i>
        <input type="text" class="input-field" id="myInput" onkeyup="myFunction()" placeholder="Type file name" title="Type in a name">
      </div>
    <div class="funky-music-area">
      <ul id="myUL">
        <% for (var i = 0; i < files.length; i++) { %>
          <% if (admin == true ) { %>
            <li>
              <form action="/upload/<%= files[i] %>" method="post">
                <div class="admin-list">
                  <a href="../uploads/<%= files[i] %>"><%= files[i] %></a><input class="del-x" type="submit" value="x"/>
                </div>
              </form>
            </li>
          <% } else { %>
            <li><a href="../uploads/<%= files[i] %>"><%= files[i] %></a></li>
          <% } %>
      <% } %>
    </ul>
    </div>
    <% if (admin == true ) { %>
      <p><%= typeof msg != 'undefined' ? msg : '' %></p>
      <form id        =  "uploadForm"
           enctype   =  "multipart/form-data"
           action    =  "/upload"
           method    =  "post"
      >
      <input type="file" class="choose-file" name="u" multiple />
      <input type="submit" class="btn console-btn" value="Upload" name="submit">
      </form>
     <% } %>
  </div>
</div>
<script>
    function myFunction() {
        var input, filter, ul, li, a, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        ul = document.getElementById("myUL");
        li = ul.getElementsByTagName("li");
        for (i = 0; i < li.length; i++) {
            a = li[i].getElementsByTagName("a")[0];
            txtValue = a.textContent || a.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";
            }
        }
    }
  </script>