    <div class="row create-event">
    <% if (admin == true ) { %>
        <div class="col-sm-4">
            <% include  ./partials/messages %>
            <form action="/update/notification/<%= id %>" method="post" autocomplete="off">
            <div class="new-notification">
                <textarea type="string" name="content" rows="6" required ><%= typeof content != 'undefined' ? content : '' %>
                </textarea>
                <button type="submit" class="btn console-btn" style="margin-top:20px;">Update</button>
            </div>
            </form>
        </div>
        <% } else { %>
            <p>Whoops something went wrong</p>
        <% } %> 
    </div>