
<% if (admin == true ) { %>
    <div class="create-event">
        <% include  ./partials/messages %>
      <p class="label">Please ensure all fields are filled in before submitting</p>
      <form action="/events/update/<%= id %>" method="POST" autocomplete="off">
        <div class="form-group">
          <label for="title">EVENT TITLE</label>
          <input
            type="string"
            id="title"
            name="title"
            class="my-form-control"
            placeholder=""
            required
            value="<%= typeof title != 'undefined' ? title : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="description">LOCATION</label>
          <input
            type="string"
            id="description"
            name="description"
            class="my-form-control"
            required
            placeholder=""
            value="<%= typeof description != 'undefined' ? description : '' %>"
          />
        </div>     
        <div class="form-group">
            <label for="datetimepicker">DATE</label> <p style="color:yellow">Please re-select the date</p>
               <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                  <input 
                  type="text" 
                  name="nastup" 
                  class="form-control datetimepicker-input"
                  data-target="#datetimepicker2"
                  required
                  />
                  <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
                      <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                  </div>
              </div>
          </div>
        <button type="submit" class="btn console-btn">
          Update Event
        </button>
      </form>
    </div>
    <% } else { %>
      <p>Whoops something went wrong</p>
      <% } %>
    </div>