<!-- <div class="row mt-5"> -->
        <!-- <div class="col-md-6 m-auto"> -->
        <!-- </div> -->
      <!-- </div> -->
      <!-- <div class="row"> -->
        <!-- <div class="col"> -->
        <div class="container-fluid container-loggedin">
        <div class="row">
          <nav class="navbar navbar-header-loggedin">
            <div class="col-sm-2">
              <a class="navbar-brand"><img width="50px" src="/images/logo_transparent.png" /></a>
            </div>
            <div class="col-sm-8">
              <div class="title">
                <h2>Lorem Ipsum Dolor Sit Amet</h2>
              </div>
            </div> 
            <div class="col-sm-2">
              <a href="/users/logout" class="btn logout">Logout</a>
            </div> 
          </nav>
      </div>
      <div class="my-navbar">
          <a class="back-to-page" >Menu <i class="fas fa-chevron-right"></i></a>
          <a class="my-nav-item" href="/dashboard">Dashboard</a> <span> || </span>
          <a class="my-nav-item" href="#">Link 2</a> <span> || </span>
          <a class="my-nav-item" href="#">Link 3</a>
        </div>

      <div class="my-events">
          <br/>
          <div class="title-and-info">
            <h4 class="section-heading"><i class="fas fa-coffee"></i> MY PERFORMANCES</h4> 
            <button type="button" class="btn more-info" data-container="body" data-toggle="popover" data-html="true"  data-placement="right" data-content="<p>This section shows your participation status for each event listed in the 'UPCOMING EVENTS' section below.</p><p> You can change your status for any of these events the aforementioned section below.</p>">
                <i class="far fa-question-circle"></i>
              </button>
          </div>
    
          <div class="row my-events-list">
            <div class="col-sm-6">
              <% var confirmed; %>
              <% var cancelled; %>
              <% var declined; %>

                <p class="label">PARTICIPATING</p>
              <% for (var a = 0; a < events.length; a++) { %>
                <% var result = events[a].participants.filter(p => p._id.toString() === userId.toString()); %>
                <% if (result.length >= 1) { %>
                  <p class="content"><%= events[a].title %></p>
                <% } %>
              <% } %>
            </div>
            <div class="col-sm-3">
                <p class="label">NOT PARTICIPATING</p>
                  <% for (var a = 0; a < events.length; a++) { %>
                    <% var cancelled = events[a].cancellations.filter(c => c._id.toString() === userId.toString()); %>
                    <% var declined = events[a].declines.filter(d => d._id.toString() === userId.toString()); %>
                    <% if (cancelled.length >= 1 || declined.length >= 1) { %>
                      <p class="content-neg"><%= events[a].title %></p>
                    <% }  %>
                  <% } %>
              </div>
            <div class="col-sm-3">
              <% var awaitingResponse = []; %>
                <% for (var a = 0; a < events.length; a++) { %>
                  <% var confirmed = events[a].participants.filter(p => p._id.toString() === userId.toString()); %>
                  <% var declined = events[a].declines.filter(d => d._id.toString() === userId.toString()); %>
                  <% var cancelled = events[a].cancellations.filter(c => c._id.toString() === userId.toString()); %>
                  <% if (confirmed.length < 1 && declined.length < 1 && cancelled.length < 1) { %>
                    <% awaitingResponse.push(events[a].title) %>
                  <% }  %>
                <% } %>
                <% if (awaitingResponse.length > 0 ) { %>
                  <p class="label unconfirmed">AWAITING RESPONSE</p>
                  <% for (var h = 0; h < awaitingResponse.length; h++) { %>
                    <p class="content"><%= awaitingResponse[h] %></p>
                <% }  %>
                <% } else { %>
                  <p class="label">AWAITING RESPONSE</p>
                <% } %>


            </div>
          </div>
        </div>
          <div class="events-list">
          <div class="title-and-info">
            <h4 class="section-heading"><i class="far fa-calendar-alt"></i> UPCOMING PERFORMANCES</h4> 
            <button type="button" class="btn more-info" data-container="body" data-toggle="popover" data-html="true"  data-placement="right" data-content="<p>Use this section to indicate which events you will and won't participate in.</p><p>You can cancel any confirmed event at any time.</p><p>To see a list of participants for each event, click 'VIEW DETAILS'.</p>">
              <i class="far fa-question-circle"></i>
            </button>
          </div>
          <% if (events.length < 1) { %>
            <p class="content">Nothing Here</p>
         <% } %>
            <% for (var i = 0; i < events.length; i++) { %>
             <% var myId; %>
             <% var otherId; %>
             <% var anotherId; %>
             <% myId = utils.guidGenerator() %>
             <% otherId = utils.guidGenerator() %>
             <% anotherId = utils.guidGenerator() %>
            <div class="row event-row">
            <!-- <div class="event"> -->
                <div class="col-sm-2">
                  <div>
                    <p class="label">PERFORMANCE TITLE:</p> 
                    <p class="content"><%= events[i].title %></p>
                    <br/>
                    <p class="label">LOCATION:</p> 
                    <p class="content"><%= events[i].description %></p>
                    <br />
                    <p class="label">DATE:</p> 
                    <p class="content"><%= events[i].nastup.toString().split('G')[0]%></p>
                    <br />
                  </div>
                </div>
                  <div class="col-sm-2 divide">
                    
                    <%# check if the user found in the participants array %>
                    <% var isParticipant = []; %>
                   <% for(var k = 0; k < events[i].participants.length; k++) { %>
                    <% if (events[i].participants[k]._id.toString() == userId.toString() ) { %>
                      <% isParticipant.push(1) %>
                    <% } %>
                  <% } %>

                  <% var isDecline = []; %>
                  <% for(var k = 0; k < events[i].declines.length; k++) { %>
                   <% if (events[i].declines[k]._id.toString() == userId.toString() ) { %>
                    <% isDecline.push(1) %>
                   <% } %>
                 <% } %>

                 <% var isCancel = []; %>
                 <% for(var k = 0; k < events[i].cancellations.length; k++) { %>
                  <% if (events[i].cancellations[k]._id.toString() == userId.toString() ) { %>
                    <% isCancel.push(1) %>
                  <% } %>
                <% } %>

                  <%if (isParticipant.length > 0) { %>
                    <button class="btn" style="color: yellow; border: 2px solid yellow;" type="button" data-toggle="collapse" data-target="#<%=anotherId%>" aria-expanded="false" aria-controls="<%=anotherId%>">
                      <b>EVENT CONFIRMED</b> <i class="fas fa-check"></i>
                    </button>
                  <div id="<%=anotherId%>" class="collapse" style="padding-top: 20px;">
                    <p class="label">Click below to change participation status:</p>
                    <form action="/events/user-decline" method="POST">
                      <input id="theid" name="theid" value="<%= events[i]._id %>" style="display:none" />
                      <input type="string" id="email" name="email" value="<%= email %>" style="display:none" />
                      <button type="submit" class="btn console-btn">
                        Decline 
                      </button>
                    </form>
                  </div>
                  <%} else if (isDecline.length > 0 || isCancel.length > 0) { %>
                    <button class="btn" style="color: red; border: 2px solid red;" type="button" data-toggle="collapse" data-target="#<%=otherId%>" aria-expanded="false" aria-controls="#<%=otherId%>">
                        <b>EVENT DECLINED</b> <i class="fas fa-times"></i>
                    </button>
                    <div id="<%=otherId%>" class="collapse" style="padding-top: 20px;">
                        <p class="label">Click below to change participation status:</p>
                        <form action="/events/user-confirm" method="POST">
                          <input id="theid" name="theid" value="<%= events[i]._id %>" style="display:none" />
                          <input type="string" id="email" name="email" value="<%= email %>" style="display:none" />
                          <button type="submit" class="btn console-btn">
                            Confirm 
                          </button>
                        </form> 
                      </div>
                    <% } else { %>
                      <form action="/events/user-confirm" method="POST">
                        <p class="unconfirmed">CONFIRM PARTICIPATION</p>
                        <input id="theid" name="theid" value="<%= events[i]._id %>" style="display:none" />
                        <input type="string" id="email" name="email" value="<%= email %>" style="display:none" />
                          <button type="submit" class="btn console-btn">
                            Confirm 
                          </button>
                      </form> 
                      <br>
                      <form action="/events/user-decline" method="POST">
                        <input id="theid" name="theid" value="<%= events[i]._id %>" style="display:none" />
                        <input type="string" id="email" name="email" value="<%= email %>" style="display:none" />
                        <button type="submit" class="btn console-btn">
                          Decline 
                        </button>
                     </form>
                  <%}%>
                </div>
              <div class="col-sm-7">
                <div>
                  <div class="totals">
                    <div>
                    <p class="label" style="float:left;">TOTAL CONFIRMED: </p>
                    <% if (events[i].participants.length > 0) { %>
                    <p class="content"><%= events[i].participants.length %></p>
                    <% } else { %>
                      <p class="label"><%= events[i].participants.length %></p>
                    <% }%>
                  </div>
                  <div class="clears">
                      <p class="label" style="float:left;">TOTAL DECLINED: </p>
                      <% if (events[i].declines.length > 0) { %>
                      <p class="content-neg"><%= events[i].declines.length %></p>
                      <% } else { %>
                        <p class="label"><%= events[i].declines.length %></p>
                      <% }%>
                    </div>
                  <div class="clears">
                    <p class="label" style="float:left;">TOTAL CANCELLED: </p>
                    <% if (events[i].cancellations.length > 0) { %>
                      <p class="content-neg"><%= events[i].cancellations.length %></p>
                    <% } else { %>
                      <p class="label"><%= events[i].cancellations.length %></p>
                    <% }%>
                  </div>
                </div>
                </div >
                <div class="clears">
                  <button class="btn view-btn" type="button" data-toggle="collapse" data-target="#<%= myId %>" aria-expanded="false" aria-controls="<%= myId %>">
                    VIEW DETAILS
                  </button>
                </div>
                <div id="<%= myId %>" class="collapse participants">
                  <script>
                    function foo(elem){
                      participants_list = elem.parentElement.getElementsByClassName("participants-list")[0]
                      participants_list.style.display='none'
                    }
                    </script>

                  <br/>
                  <p class="label">PARTICIPANTS</p>
                  <div class="participants-list">
                    <% if (events[i].participants.length < 1) { %>
                      <p class="content">none</p>
                    <% } else { %>
                      <% for (var j = 0; j < events[i].participants.length; j++) { %>
                          <p class="content"><%= events[i].participants[j].name %> &nbsp;</p>
                      <% } %>
                    <% } %>
                  </div>
                  <div>
                      <p class="label">DECLINES</p>
                      <% if (events[i].declines.length > 0 ) { %>
                        <% for (var l = 0; l < events[i].declines.length; l++) { %>
                          <p class="content-neg"><%= events[i].declines[l].name %>  &nbsp;</p>
                        <% } %>
                      <% } else { %>
                        <p class="content">none</p>
                      <% } %>
                    </div>
                  <div>
                  <p class="label">CANCELLATIONS</p>
                  <% if (events[i].cancellations.length > 0 ) { %>
                    <% for (var l = 0; l < events[i].cancellations.length; l++) { %>
                      <p class="content-neg"><%= events[i].cancellations[l].name %>  &nbsp;</p>
                    <% } %>
                  <% } else { %>
                    <p class="content">none</p>
                  <% } %>
                </div>

                </div>
              </div>
              <div class="col-sm-1">
                <% if (admin == true ) { %>
                  <div style="float:right">
                    <form action="/events/<%= events[i]._id %>" method="POST">
                      <button type="submit" class="del-x" >
                          <i class="fas fa-backspace"></i>
                      </button>
                    </form>
                    <br>
                    <a class="del-x" href="/events/edit/<%= events[i]._id %>"><i class="fas fa-pen"></i></a>
                </div>
                <% } %>
              </div>
            <!-- </div> -->
          </div>
          <% myId = '' %>
          <% } %>
          </div>
        <!-- </div> -->
      <!-- </div> -->
      <div class="row">
      <% if (admin == true ) { %>
        <div class="create-event">
          <br>
          <% include  ./partials/messages %>
          <form action="/events/create" method="POST" autocomplete="off">
            <div class="form-group">
              <label for="title">PERFORMANCE TITLE</label>
              <input
                type="string"
                id="title"
                name="title"
                class="my-form-control"
                placeholder=""
                value="<%= typeof title != 'undefined' ? title : '' %>"
              />
            </div>
            <div class="form-group">
              <label for="description">LOCATION</label>
              <input
                type="string"
                id="description"
                name="description"
                class="my-form-control"
                placeholder=""
                value="<%= typeof description != 'undefined' ? description : '' %>"
              />
            </div>
            <div class="form-group">
              <label for="datetimepicker">DATE</label>
                 <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                    <input type="text" name="nastup" class="form-control datetimepicker-input"value="<%= typeof nastup != 'undefined' ? nastup : '' %>" data-target="#datetimepicker2"/>
                    <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
            </div>
            </div> 

            <div class="form-group">
           
            </div>   
            <button type="submit" class="btn console-btn" style="margin-left:10px">
              Create Event
            </button>
          </form>
        </div>
        <% } else { %>
          <p></p>
          <% } %>
        </div>
      </div>
      <%# debugger; %>

