<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Црвени Божури</title>
  <link href="/css/style2.css" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC" rel="stylesheet">
</head>

<body>
  <div class="container main">
    <div class="row">
        <nav class="navbar navbar-expand-lg row-fluid navbar-public">
          <div class="col-sm-3">
            <a class="navbar-brand" href="/"><img class="our-logo" src="/images/logo_transparent.png" /></a>
          </div>
          <div class="col-sm-9">
            <div class="title">
              <h1>Lorem Ipsum Dolor Sit Amet</h1>
              <h2>consectetur adipiscing elit</h2>
            </div>
          </div>  
          </nav>
    </div>
    <hr />
    <div class="row">
      <div class="col-sm-3">
      </div>
      <div class="col-sm-9">
        <p class="tagline" style="margin-bottom: 0px;"><i>Nam Pyrrho, Aristo, Erillus iam diu abiecti...</i></p>
      </div>
    </div>
    <hr  id="title-separator" />
    <div class="row mt-5">
        <div class="col-md-6 m-auto">
          <div class="card card-body">
            <h4 class="text-center mb-3">
               Register
            </h4>
            <% include  ./partials/messages %>
            <form action="/users/register" method="POST">
              <div class="form-group">
                <label for="name">Name</label>
                <input
                  type="name"
                  id="name"
                  name="name"
                  class="form-control"
                  placeholder="Enter Name"
                  value="<%= typeof name != 'undefined' ? name : '' %>"
                />
              </div>
              <div class="form-group">
                <label for="lname">Last Name</label>
                <input
                  type="name"
                  id="lname"
                  name="lname"
                  class="form-control"
                  placeholder="Enter Name"
                  value="<%= typeof lname != 'undefined' ? lname : '' %>"
                />
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input
                  type="email"
                  id="email"
                  name="email"
                  class="form-control"
                  placeholder="Enter Email"
                  value="<%= typeof email != 'undefined' ? email : '' %>"
                />
              </div>
              <div class="form-group">
                  <label for="email">Verification code</label>
                  <input
                    type="password"
                    id="code"
                    name="code"
                    class="form-control"
                    placeholder="Enter Code"
                    value="<%= typeof code != 'undefined' ? code : '' %>"
                  />
                </div>
                <p>Password should contain at least 3 of the following: a) lower case letter b) upper case letter c) number d) special character</p>
              <div class="form-group">
                <label for="password">Password</label>
                <input
                  type="password"
                  id="password"
                  name="password"
                  class="form-control"
                  placeholder="Create Password"
                  value="<%= typeof password != 'undefined' ? password : '' %>"
                />
              </div>
              <div class="form-group">
                <label for="password2">Confirm Password</label>
                <input
                  type="password"
                  id="password2"
                  name="password2"
                  class="form-control"
                  placeholder="Confirm Password"
                  value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
                />
              </div>
              <button type="submit" style="border: 1px solid lightgray">
                Register
              </button>
            </form>
            <p class="lead mt-4">Have An Account? <a href="/users/login">Login</a></p>
          </div>
        </div>
      </div>
    </div>
    </body>
  </html>