<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Црвени Божури</title>
  <link href="/css/style2.css" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC" rel="stylesheet">
</head>

<body>
  <div class="container main">
    <div class="row">
        <nav class="navbar navbar-expand-lg row-fluid navbar-public">
          <div class="col-sm-3">
            <a class="navbar-brand" href="/"><img class="our-logo" src="/images/logo_transparent.png" /></a>
          </div>
          <div class="col-sm-9">
            <div class="title">
              <h1>Lorem Ipsum Dolor Sit Amet</h1>
              <h2>consectetur adipiscing elit</h2>
            </div>
          </div>  
          </nav>
    </div>
    <hr />
    <div class="row">
      <div class="col-sm-3">
      </div>
      <div class="col-sm-9">
        <p class="tagline" style="margin-bottom: 0px;"><i>Nam Pyrrho, Aristo, Erillus iam diu abiecti...</i></p>
      </div>
    </div>
    <hr  id="title-separator" />
    <div class="row mt-5">
        <div class="col-md-6 m-auto">
            <div class="card card-body">
            <% include  ./partials/messages %>
            <form action="/users/reset/<%= token %>" method="POST">
              <legend>Reset Password</legend>
              <p>Password should contain at least 3 of the following: a) lower case letter b) upper case letter c) number d) special character</p>
              <div class="form-group">
                <label for="password">New Password</label>
                <input type="password" name="password" value="" placeholder="New password" autofocus="autofocus" class="form-control"/>
              </div>
              <div class="form-group">
                <label for="password2">Confirm Password</label>
                <input type="password" name="password2" value="" placeholder="Confirm password" class="form-control"/>
              </div>
              <div class="form-group">
                <button type="submit" style="border: 1px solid lightgray" >Update Password</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>