<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Црвени Божури</title>
  <link href="/css/style2.css" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC" rel="stylesheet">
</head>

<body>
  <div class="container main">
    <div class="row">
        <nav class="navbar navbar-expand-lg row-fluid navbar-public">
          <div class="col-sm-3">
            <a class="navbar-brand" href="/"><img class="our-logo" src="/images/logo_transparent.png" /></a>
          </div>
          <div class="col-sm-9">
            <div class="title">
              <h1>Lorem Ipsum Dolor Sit Amet</h1>
              <h2>consectetur adipiscing elit</h2>
            </div>
          </div>  
          </nav>
    </div>
    <hr />
    <div class="row">
      <div class="col-sm-3">
      </div>
      <div class="col-sm-9">
        <p class="tagline" style="margin-bottom: 0px;"><i>Nam Pyrrho, Aristo, Erillus iam diu abiecti...</p>
      </div>
    </div>
    <hr  id="title-separator" />
    <div class="row mt-5">
        <div class="col-md-6 m-auto">
            <div class="card card-body">
            <% include  ./partials/messages %>
            <p>Please note: It may take some time for your email to arrive.</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>