<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>group space</title>
  <link href="/css/style2.css" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC" rel="stylesheet">
</head>

<body>
  <div id="warn" style="display:none;" class="container">
    <p>Your browser may not support all features.</p>
  </div>
  <div class="container main">
  <div class="row">
      <nav class="navbar navbar-expand-lg row-fluid ">
        <div class="col-sm-3">
          <a class="navbar-brand"><img class="our-logo" src="/images/logo_transparent.png" /></a>
        </div>
        <div class="col-sm-8">
          <div class="title">
            <h1>Lorem Ipsum Dolor Sit Amet</h1>
            <h2>consectetur adipiscing elit</h2>
          </div>
        </div> 
        <div class="col-sm-1 hello-members">
            <div>
                <a href="/users/login"><img class="members-img" src="/images/floral2.svg" /></a>
            </div> 
        </div>
        </nav>
  </div>
    <hr />
    <div class="row">
      <div class="col-sm-3">
      </div>
      <div class="col-sm-9">
        <p class="tagline" style="margin-bottom: 0px;"><i>Nam Pyrrho, Aristo, Erillus iam diu abiecti...</i></p>
      </div>
    </div>
    <hr  id="title-separator" />

    <div class="row">
      <div class="col-sm-3 sidebar">
        <div class="events">
          <img class="side-icon" src="/images/floral.svg" /><h3>Heading 1</h3>
          <h5>Subheading 1</h5>
          <b>Title 1</b>
          <p>Some Details</p>
          <hr />
          <h5>Subheading 2</h5>

          <b>Title 2</b>
          <p>Some Details</p>
          <!-- <b>Concert</b>
          <p>-</p> -->

        </div>
        <hr />
        <div class="cb-dvd">
          <img class="side-icon" src="/images/floral.svg" /><h3> Heading 2</h3>
          <!-- <p><a href="./gallery.html">Gallery</a></p> -->
          <p title="description" ><a href="#">Link to <span>something</span></a></p>
          <p title="description" ><a href="#">Link to <span>another thing</span></a></p>
          <p><a href="#">Link</a></p>
        </div>
        <hr />
        <div>
            <img class="side-icon" src="/images/floral.svg" /><h3>Heading 3</h3>
            <p id="mb-desc">Itaque sensibus rationem adiunxit et ratione effecta sensus non reliquit.</p>
            <a id= "m-b" href="#">
              <img class="img-fluid sister-logo" src="/images/logo.png" title="title">
            </a>
            
          </div>
      </div>
      <div class="col-sm-9">
        <article class="single-post mt-5 no-gutters">
            <div class="image-wrapper float-right pr-3">
                <img class="img-fluid img-border"src="/images/banner-low.jpeg" class="" alt="">
            </div>
           <!-- <div class="display-image"><img class="img-fluid img-border" src="/images/banner-low.jpeg" /></div> -->
          <div class="single-post-content-wrapper pr-3">
          <h3>Welcome</h3>

          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Risus quis varius quam quisque id diam vel quam. Proin sed libero enim sed faucibus turpis in. At lectus urna duis convallis 
            convallis. Purus semper eget duis at tellus at urna condimentum mattis. Cursus in hac habitasse platea. Fames ac turpis egestas 
            integer eget aliquet nibh praesent. Faucibus et molestie ac feugiat sed lectus. Amet cursus sit amet dictum sit amet. Sed libero 
            enim sed faucibus turpis in. Sit amet commodo nulla facilisi nullam vehicula. Maecenas ultricies mi eget mauris pharetra. 
            Egestas dui id ornare arcu odio ut sem. Blandit massa enim nec dui nunc mattis. Elit ullamcorper dignissim cras tincidunt. 
            Non curabitur gravida arcu ac tortor dignissim convallis aenean. Eu tincidunt tortor aliquam nulla facilisi cras. Eleifend 
            quam adipiscing vitae proin.
          </p>

          <p>
            Nisl pretium fusce id velit ut. Porta lorem mollis aliquam ut porttitor leo a diam. Pellentesque id nibh tortor id aliquet. 
            Montes nascetur ridiculus mus mauris vitae ultricies leo integer. Venenatis tellus in metus vulputate. Leo a diam sollicitudin
             tempor. Eu feugiat pretium nibh ipsum consequat. Nunc congue nisi vitae suscipit tellus mauris. Pharetra pharetra massa massa 
             ultricies mi quis. Enim ut sem viverra aliquet eget sit. Dictumst quisque sagittis purus sit amet volutpat consequat mauris nunc.
              Nulla malesuada pellentesque elit eget gravida cum sociis. Id nibh tortor id aliquet lectus proin nibh. Mi bibendum neque 
              egestas congue quisque egestas diam in arcu. Pulvinar sapien et ligula ullamcorper malesuada proin libero nunc. 
              Tincidunt augue interdum velit euismod in. Eu ultrices vitae auctor eu augue ut lectus.
          </p>

          <p>
            Sapien et ligula ullamcorper malesuada. Convallis posuere morbi leo urna molestie at elementum eu. Senectus et netus et malesuada 
            fames. Vulputate dignissim suspendisse in est ante in nibh mauris. Tempus iaculis urna id volutpat lacus. Phasellus vestibulum lorem
             sed risus ultricies tristique nulla. In metus vulputate eu scelerisque felis imperdiet proin fermentum. Feugiat vivamus at augue eget. 
             Urna porttitor rhoncus dolor purus non enim praesent elementum. Enim praesent elementum facilisis leo vel fringilla est ullamcorper eget.
              Viverra nibh cras pulvinar mattis nunc sed blandit libero. Congue eu consequat ac felis donec. Lectus sit amet est placerat in egestas 
              erat imperdiet sed. Nec ultrices dui sapien eget mi proin sed. Netus et malesuada fames ac turpis egestas sed tempus. Et leo duis ut 
              diam quam nulla porttitor.
          </p>

        </div>
      </article>
    </div>
    </div>
    <hr class="footer-liner" />
    <div class="footer">
      <div class="row">
        <div class="col-sm-12">
         
            © 2019
          </p>
        </div>
      </div>
    </div>
  </div>
    <div class="freepic">Icons made by <a href="https://www.flaticon.com/<?=_('authors').'/'?>freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/"             title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/"             title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
  </div>
  </div>

</body>
<script
src="https://code.jquery.com/jquery-3.4.1.js"
integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
  integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
  integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
  crossorigin="anonymous"></script>

</html>