/* Media Queries */

/* Mobile Landscape */
@media only screen and (max-width: 419px) {
    .tagline {
        margin-left: 0px;
    }

    a .members-img {
        margin-left: 0px;
    }

    .container {
        margin-right: 0;
        margin-left: 0;
        max-width:100%;
      }

      .title h1 {
        font-size: 2rem;
    }

    .title h2 {
        font-size: 1.5rem;
    }

      a.our-logo {
        width: 70px;
    }

    a .sister-logo {
        width: 50px;
    }

    .carousel-item img {
        max-height: 150px;
        width: auto;
        margin: auto;
    }

    #seedbed {
        height:180px;
    }
}

/* Override */
/* @media (min-width: 576px) {
    .container {
        max-width: 100%;

    }
} */

@media only screen and (min-width: 420px) and (max-width: 767px) {
    .tagline {
        margin-left: 0px;
    }

    a .members-img {
        margin-left: 0px
    }

    a .our-logo {
        width: 70px;
    }

    a .sister-logo {
        width: 50px;
    }

    .title h1 {
        font-size: 2rem;
    }

    .title h2 {
        font-size: 1.5rem;
    }

    .container {
        margin-right: 0;
        margin-left: 0;
        max-width:100%;
      }

    .carousel-item img {
        max-height: 250px;
        width: auto;
        margin: auto;
    }

    .set-height {
        height: 250px;
    }

    #seedbed {
        height:180px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .container {
        margin-left:0;
        margin-right:0;
        max-width:100%;
      }

      a .members-img {
        margin-left: 0px
    }

    a .our-logo {
        width: 70px;
    }

    a .sister-logo {
        width: 50px;
    }

    .title h1 {
        font-size: 2rem;
    }

    .title h2 {
        font-size: 1.5rem;
    }


    .carousel-inner > .slider-container > .carousel-item > img {
        max-height: 350px;
        width: auto;
        margin: auto;
    }

    .set-height {
        height: 350px;
    }

    #seedbed {
        height:250px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1119px) {
    .carousel-inner > .slider-container > .carousel-item > img {
        max-height: 450px;
        width: auto;
        margin: auto;
    }

    .set-height {
        height: 450px;
    }

    #seedbed {
        height:220px;
    }
}

@media only screen and (min-width: 1119px) {
    .carousel-inner > .slider-container > .carousel-item > img {
        max-height: 500px;
        width: auto;
        margin: auto;
    }

    .set-height {
        height: 500px;
    }

    #seedbed {
        height:220px;
    }
}

html,
body {
    font-family: garmond, "Times New Roman", Times, Serif;
    background-color: #f9f9f7;
}

p,
b,
a {
    font-size: 1.1rem;
}

#warn p {
    font-family: Arial, serif;
    color: grey;
    font-size: small;
    display: flex;
    flex-direction: row-reverse;
    margin-bottom:-0.5rem;
}

.main {
    border-style: solid;
    border-width: 15px;
    background-color: #f6f6f2;
    -webkit-border-image: url(../images/border.png) 28 round; /* Safari 3.1-5 */
    -o-border-image: url(../images/border.png) 28 round; /* Opera 11-12.1 */
    border-image: url(../images/border.png) 28 round;
    margin-top: 10px;
    /* margin-bottom: 30px; */
}

hr:first-of-type {
    border-top: 1px dotted black;
    margin-top: 0rem;
}

#title-separator {
    border-top: 1px solid black;
    /* margin-top: 2rem; */
}

.sidebar hr {
    border-top: 1px dotted #c6c6c6;
}

.img-border {
    border: 10px solid white;
    margin-left: 10px;
}

.my-input {
    border-radius: none;
    width: 50%;
}

.my-input:focus {
    border-color: none;
    box-shadow: none;
}

.title, .sidebar h3 {
    font-family: "IM Fell French Canon SC", serif;
}

.tagline {
    margin-bottom: 0px;
    margin-left: 0px;
}

.nav-item {
    color: #83020b;
    transition: 0.5s;
    text-decoration: underline;
}

.nav-item:hover {
    color: #272764;
    text-decoration: none;
}

.navbar {
    width: 100%;
    padding: 10px 20px 10px 20px;
}

.navbar-toggler {
    color: #83020b;
    font-weight: bold;
}

.navbar-toggler:focus {
    outline: 5px auto transparent;
    color: #83020b;
}



/* @keyframes pulse {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    80% {
        opacity: 0;
        transform: scale(2);
    }
    100% {
        opacity: 0;
        transform: scale(3);
    }
  } */
  

.events {
    margin-top: 20px;
}

.events h3 {
    margin-bottom: 1rem;
}

.events h5 {
    margin-bottom: 1rem;
    text-decoration: underline;
}

.sister-logo {
    padding-top: 15px;
    padding-bottom: 20px;
    width: 80px;
}
.side-icon {
    width: 15px;
    float: left;
    margin-top: 10px;
    margin-right: 2px;
    margin-left: -18px;
}

#mb-desc {
    font-size: 0.9em;
}

#m-b {
    color: #83020b;
    transition: 0.5s;
    text-decoration: underline;
}

#m-b:hover {
    color: #272764;
    text-decoration: none;
}

.cb-dvd a {
    color: #83020b;
    transition: 0.5s;
    text-decoration: underline;
}

.cb-dvd a:hover {
    color: #272764;
    text-decoration: none;
}

.cb-dvd a span {
    font-style: italic;
}

.freepic {
    text-align: center;
    font-size: 0.5rem;
}

.freepic a {
    font-size: 0.7rem;  
}

.newspaper {
    width: 200px;
    margin-left: 15px;
    /* margin-bottom: 10px; */
}

.source {
    font-size: small;
    margin-left: 15px;
    font-family: serif;
    text-align: right;
    color: #818080;
}

.paragraph {
    margin-top: 50px;
    margin-bottom: 50px;
}

#slider {
    background-color: black;
}

.footer-liner {
    margin-top: 50px;
}

.footer {
    margin-top: 20px;
    /* padding: 20px 20px 0px 20px; */
    /* background-color: #83020b; */
    text-align: center;
}

.registration-warning {
    color: red;
    text-align: center;
}

.our-logo {
    width: 100px;
}


/* Login Stuff */

.form-control:focus {
    border: 1px solid lightgray;
    box-shadow: none;
}

/* .login-btn {
    animation-name: pulse-reverse;
    animation-duration: 3s;
    animation-iteration-count: infinite;
} */

.members-img {
    width: 33px;
    margin-left: 20px;
    animation-name: pulse;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
  
@keyframes pulse {
    from { transform: scale(1.15); }
    50% { transform: scale(1); }
    to { transform: scale(1.15); }
  }

  /* Password Reset */
  .loader {
    border: 8px solid lightgray;
    border-top: 7px solid grey;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite
  }

  #hidden-div {
    display: none;
  }

  #loading-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


