/* 'Inconsolata', 3monospace

 font-family: 'Space Mono', 3monospace; */


.container-loggedin {
    background: black;
    padding-bottom: 30px;
}


.navbar-public {
    width: 100%;
}


.form-group input {
    border-radius: 0px;
}

.card {
    border: none;
    background-color: #f6f6f2;

}

::-webkit-input-placeholder {
    color: lightgray;
}

.popover-body {
    background-color: #0f0f0f;
    border: 1px solid white;
    color: white;
    font-family: 'Space Mono', monospace;;
}

.my-navbar {
    font-family: 'Space Mono', monospace;;
}

.my-navbar .my-nav-item {
    color: #d5e7fc;
}

.my-navbar span {
    color: #d5e7fc;
}















/* Dashboard Page */

.back-to-page {
    color: black;
    background-color: #222;
    animation-name: color;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    padding: 5px
  }
  
  @keyframes color {
    0% {
      background-color: black;
    }
    50% {
      background-color: #2eda19;
    }
    100% {
      background-color: black;
    }
  }

  .rainbow span{
        /* background-image: linear-gradient(to left, violet, white, rgb(191, 240, 255), #2eda19, rgb(248, 176, 69), red);   -webkit-background-clip: text;
        color: transparent; */
        color: white;
  }

.funky-music-area {
    background-color: #000000;
    padding: 15px;
    border: 1px solid white;
    height: calc(100vh - 250px);
    overflow-y: scroll;
}

.choose-file {
    color: white;
    font-family: 'Space Mono', monospace;;
}

/* removes default btn styling */
.del-x {
    background: none;
	color: #d5e7fc;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.admin-can-edit {
    display: flex;
    flex-direction: column;
}

.input-icons i { 
    position: absolute; 
} 
  
.input-icons { 
    width: 100%; 
    margin-bottom: 10px; 
    color: white;
} 
  
.icon { 
    padding: 10px; 
    min-width: 40px; 
} 
  
.input-field { 
    width: 100%; 
    text-align: center; 
    background: black;
    color: #2eda19;
    padding: 5px;
} 

.funky-music-area a {
    color: #2eda19;
    font-family: 'Space Mono', monospace;;
    /* font-size: 1.2rem; */
}

.remove-file {
    padding: 0px 5px;
    line-height: 1rem;
    background-color: blue;
    color: rgb(32, 30, 30);
}

.navbar-header {
    width: 100%;
}

.admin-list {
    display: flex;
    justify-content: space-between;
}

.navbar-header-loggedin {
    background-color: #690909;
    width: 100%;
    color: white;
}

.logout {
    color: lightgrey;
    border: 1px solid;
}

.logout:hover {
    color: white;
    border: 1px solid white;
}

.new-notification {
    font-family: 'Space Mono', monospace;
}

.notif-date-area {
    border-left: 1px dotted gray;
    padding-left: 4px;
    width:  20%;
}

.new-notification textarea {
    width: 100%;
    background: black;
    color: #2eda19;
}

.notification {
    display: flex;
    justify-content: space-between;
    border: 1px solid white;
    color: #2eda19;
    padding: 10px;
}

.notif-text {
    font-family: 'Space Mono', monospace;
    color: #fda7e0; 
    font-weight: bold;
    /* font-size: 1.2rem; */
}

.label{
    font-family: 'Space Mono', monospace;;
    color: white;
    margin-bottom: 0px;
    font-size: 1.1rem;
}

.content{
    font-family: 'Space Mono', monospace;;
    color: #2eda19;
    margin-bottom: 0px;
    /* font-size: 1.2rem; */
}

.content-notif-date{
    font-family: 'Space Mono', monospace;;
    color: #2eda19;
    margin-bottom: 0px;
}

.content-neg {
    color: red;
    margin-bottom: 0px;
    /* font-size: 1.2rem; */
}

.new-notification {
    margin-top: 20px;
}

.new-notification input {
    background-color: #000000; 
    color: #2eda19;
    padding-left: 10px;
}

.new-notification input:focus {
    background-color: #000000; 
    border-color: none;
}

/* ------------------------ */
/* Events Page */

.unconfirmed {
    color: white;
    background-color: #222;
    animation-name: unconfirmed;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  
  @keyframes unconfirmed {
    0% {
      background-color: orange;;
    }
    50% {
      background-color: black;
    }
    100% {
      background-color: orange;;
    }
  }

.my-events-list {
    border: 1px dotted #c3b9f9;
    padding: 20px;
    margin-bottom: 20px;
}

.participants-list {
    display: inline-flex;
}

.title-and-info {
    display: flex;
}

.more-info {
    margin-top: -7px;
    color: #ffe2b9;
    /* font-size: 1.2rem; */
}

.more-info:hover{
    color: white;
}

.more-info i {
    width: 100%;
}

.clears {
    clear:both;
}

.event-row {
    border: 1px dotted grey;
    background-color: #000000;
    font-family: 'Space Mono', monospace;;
}

.event-row .content{
    color: #2eda19;
    margin-bottom: 0px;
    /* font-size: 1.2rem; */
}
.event-row .content-neg {
    color: red;
    margin-bottom: 0px;
    /* font-size: 1.2rem; */
}


.event-row .label{
    color: white;
    margin-bottom: 0px;
    font-size: 1.1rem;
}

.event-row h4 {
    color: white;
}

.create-event {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    background-color: #000000;  
    font-family: 'Space Mono', monospace;;
}

.create-event label {
    color: white;
    font-size: 1.1rem;
}

.create-event input {
    background-color: #000000; 
    color: #2eda19;
    padding-left: 10px;
}

.create-event input:focus {
    background-color: #000000; 
    border-color: none;
}

.my-form-control {
    display: block;
    width: 100%;
}

.console-btn-change {
    color: gray;
    font-size: 1.1rem;
    border: 2px solid;
    font-weight: bold;
}


.console-btn {
    color: #d5e7fc;
    font-size: 1.1rem;
    border: 2px solid;
    font-weight: bold;
}

.view-btn {
    color: #ffe2b9;
    font-size: 1.1rem;
    border: 2px solid;
    font-weight: bold;
}

.console-btn a {
    color: #b3d7ff;
    font-size: 1.1rem;
}

.console-btn:hover {
    color: white;
    font-size: 1.1rem;
}

.view-btn:hover {
    color: white;
    font-size: 1.1rem;
}

.section-heading {
   color: #e278b9;
}

.divide {
    border-right: 1px dotted gray;
}

/* Login */
.members-img {
    width: 33px;
    /* margin-left: 20px; */
    animation-name: pulse;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
  

@keyframes pulse {
    from { transform: scale(1); }
    50% { transform: scale(0.85); }
    to { transform: scale(1); }
  }

  /* Media Queries */

  @media (max-width: 768px) { 
    .totals {
        margin: 15px;
    }

    .funky-music-area {
        background-color: #000000;
        padding: 15px;
        border: 1px solid white;
        height: calc(100vh - 25px);
        margin-right: 25px;
        overflow-y: scroll;
    }
}

